html{
    width:100%;
   
}
.title{

    padding-top: 30px;

}


.header{
    margin:80px;
    padding-left:40px;
    border-color: #1c1716;
    box-sizing: border-box;
    padding-right: 40px;
    background-color: #aa8c86;
    padding-bottom:40px;
}

input{
    width:75%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;

    
    
}
button{
    padding: 10px;
    width:25%;
    font-size: 16px;
   
    
   
}
h2{
    text-align:center;
}
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    margin-left: -40px;
    transition: 0.2s;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
    text-decoration: line-through;
}

li{
    list-style-type: none; 
    margin:0px;
    padding:0px;   

}
.addBtn:hover {
    background-color: #bbb;
}
.fa-trash{
    position:absolute;
    right:0;
    color:#bbb;
    padding-right:10px;
}
.fa-trash:hover{
    color:white;
}

